In [36]:
l1 = [1, 2, 3, 4]
l2 = [5, 6, 7, 8]

In [37]:
id(l1), id(l2)

(1883403725312, 1883403836096)

In [49]:
l = l1 + l2 #  this is not the same as +=

In [39]:
l1

[1, 2, 3, 4]

In [40]:
l2

[5, 6, 7, 8]

In [50]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [51]:
id(l1), id(l2), id(l)

(1883403725312, 1883403836096, 1883403788672)

In [52]:
l1+=l2

In [53]:
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
l2

[5, 6, 7, 8]

In [55]:
id(l1), id(l2) #  the id for l1 remained the same after inplace concatenation

(1883403725312, 1883403836096)

In [42]:
t1 = (1, 2, 3, 4)
t2 = (5, 6, 7, 8)

In [43]:
id(t1), id(t2)

(1883404815312, 1883404815792)

In [44]:
t = t1 + t2

In [45]:
t1

(1, 2, 3, 4)

In [46]:
t2

(5, 6, 7, 8)

In [68]:
t

(1, 2, 3, 4, 5, 6, 7, 8)

In [70]:
t1 += t2

In [71]:
t1

(1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8)

In [47]:
id(t1), id(t2)

(1883404815312, 1883404815792)

In [56]:
id(t)

1883404733008

In [58]:
l1 += t1

In [59]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4]

In [60]:
id(l1), id(t1)

(1883403725312, 1883404815312)

In [62]:
l1 += range(5,9)

In [63]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [64]:
id(l1)

1883403725312

In [65]:
l1 += {"abc", 100, -210}

In [66]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 100, 'abc', -210]

In [74]:
id(l1)

1883403725312

In [75]:
t1 = (1, 2, 3, 4)
t2 = (5, 6, 7, 8)

In [76]:
id(t1), id(t2)

(1883404735968, 1883404774272)

In [77]:
t1 +=t2

In [78]:
t1

(1, 2, 3, 4, 5, 6, 7, 8)

In [79]:
t2

(5, 6, 7, 8)

In [80]:
id(t1), id(t2) #  the t1 has the id changed

(1883403409664, 1883404774272)

In [83]:
l1 = [1, 2,3, 4]

In [85]:
id(l1)

1883404795136

In [88]:
l1 = l1*2 #  this will change the id of the l1

In [90]:
id(l1) # same will happend with a tuple

1883404904192