In [1]:
l = [1, 2, 3, 4, 5, 6]

In [2]:
a = l[0]
b = l[1:]

In [3]:
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [11]:
a, b = l[0], l[1:] #  works only with iterables that are indexable

In [12]:
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [13]:
a, *b = l

In [14]:
a

1

In [15]:
b

[2, 3, 4, 5, 6]

In [24]:
s = {1, 2, 3} #  remember that sets don't have the concept of ordering

In [28]:
a = s[0]
b = s[1:]

TypeError: 'set' object is not subscriptable

In [29]:
s = 'python'

In [30]:
a, *b = s

In [31]:
a

'p'

In [32]:
b

['y', 't', 'h', 'o', 'n']

In [33]:
t = ('a','b','c','d')

In [34]:
a, *b = t

In [35]:
a

'a'

In [36]:
b

['b', 'c', 'd']

In [37]:
l = [1, 2, 3, 4, 5]

In [44]:
a, *b = l

In [45]:
a

1

In [46]:
b

[2, 3, 4, 5]

In [47]:
a, b, *c = 'python'

In [48]:
a

'p'

In [49]:
b

'y'

In [50]:
c

['t', 'h', 'o', 'n']

In [52]:
a, b, *c, d = s

In [53]:
a

'p'

In [54]:
b

'y'

In [55]:
c

['t', 'h', 'o']

In [56]:
d

'n'

In [57]:
s = 'python'

In [58]:
s[0]

'p'

In [59]:
s[1]

'y'

In [60]:
s[2:5]

'tho'

In [61]:
s[5]

'n'

In [74]:
a, b, c, d = s[0], s[1], s[2:-1], s[-1] #  this can be done with slicing

In [88]:
print(a)
print(b)
print(list(c)) #  adding a list method
print(d)

p
y
['t', 'h', 'o']
n

In [92]:
l1 = [1, 2, 3]
l2 = [3, 4, 5]
l = [*l1, *l2]

In [96]:
print(l)

[1, 2, 3, 3, 4, 5]

In [98]:
l1 = [1, 2, 3]
s = 'abc'

In [99]:
[*l1, *s]

[1, 2, 3, 'a', 'b', 'c']

In [101]:
l1 = [1, 2, 3] #  unpacking to a list
s = {4, 4, 6}
[*l1, *s]

[1, 2, 3, 4, 6]

In [102]:
s1 = 'abc'
s2 = 'cde' #  same c characted

In [103]:
[*s1, *s2]

['a', 'b', 'c', 'c', 'd', 'e']

In [106]:
{*s1, *s2} #  without duplicates because of sets rule

{'a', 'b', 'c', 'd', 'e'}

In [107]:
(*s1, *s2)

('a', 'b', 'c', 'c', 'd', 'e')

In [108]:
s = {10, -99, 11.2, '10', '0abc'} #  order is not guaranteed

In [109]:
for o in s:
    print(o)

10
0abc
10
11.2
-99

In [115]:
a, b, c, d, e = s

In [116]:
print(a, b, c, d, e)

10 0abc 10 11.2 -99

In [117]:
a, *b, e = s

In [118]:
print(a, b, e)

10 ['0abc', 10, 11.2] -99

In [119]:
print(e, b, a)

-99 ['0abc', 10, 11.2] 10

In [120]:
a, e, *b = s

In [121]:
print(a, b, e)

10 [10, 11.2, -99] 0abc

In [122]:
print(e, b, a)

0abc [10, 11.2, -99] 10

In [123]:
*b, a, e = s

In [124]:
print(a, b, e)

11.2 ['10', '0abc', 10] -99

In [126]:
print(e, b, a)

-99 ['10', '0abc', 10] 11.2

In [128]:
#  transform a set into a list

In [129]:
s = {10, -99, 11.2, '10', '0abc'}

In [130]:
list(s)

['10', '0abc', 10, 11.2, -99]

In [133]:
*c, = s  #  a nice way to unpack a set into a list with a comma','

In [134]:
c

['10', '0abc', 10, 11.2, -99]

In [135]:
s1 = {1, 2, 3}
s2 = {4, 5, 6}

In [136]:
s = {*s1, *s2} # method 1

In [137]:
s

{1, 2, 3, 4, 5, 6}

In [138]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [139]:
#  use the union method

In [141]:
s1.union(s2) # method 2

{1, 2, 3, 4, 5, 6}

In [144]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}
s4 = {7, 8, 8}

In [145]:
s1.union(s2).union(s3).union(s4)

{1, 2, 3, 4, 5, 6, 7, 8}

In [147]:
[*s1, *s2,*s3,*s4] # we can choose how to unpack it, lists or sets, tuples

[1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 7]

In [148]:
{*s1, *s2,*s3,*s4}

{1, 2, 3, 4, 5, 6, 7, 8}

In [149]:
#  advantages of unpacking with dictionaries

In [2]:
d1 = {'a': 1,'b':2, 'c':3}
d2 = {'b': 4, 'd': 5, 'e': 6}

In [3]:
{*d1, *d2}

{'a', 'b', 'c', 'd', 'e'}

In [4]:
{**d1, **d2}

{'a': 1, 'b': 4, 'c': 3, 'd': 5, 'e': 6}

In [6]:
{'a':3, 'b':2, 'c':1, **d1, 'e': 4}

{'a': 1, 'b': 2, 'c': 3, 'e': 4}

In [28]:
a, b, e = [1, 2, 'xyz'] #  try to add add other characters for string

In [29]:
a

1

In [30]:
b

2

In [31]:
e

'xyz'

In [33]:
b, c, d = e

In [34]:
b

'x'

In [35]:
c

'y'

In [36]:
d

'z'

In [37]:
a, b, (c, d, *e) = [1, 2, 'python']

In [38]:
a

1

In [39]:
b

2

In [40]:
c

'p'

In [41]:
d

'y'

In [49]:
e

['t', 'h', 'o', 'n']

In [50]:
l = [1, 2, 3, 4,'python']

In [52]:
a, *b, (c, d, *e) = l

In [53]:
print(a, b, c, d, e)

1 [2, 3, 4] p y ['t', 'h', 'o', 'n']

In [86]:
l[0], l[1:-1], l[-1][0:1], l[-1][1:2], list(l[-1][2:])

(1, [2, 3, 4], 'p', 'y', ['t', 'h', 'o', 'n'])

In [87]:
a, b, c, d, e = l[0], l[1:-1], l[-1][0:1], l[-1][1:2], list(l[-1][2:])

In [88]:
print(a, b, c, d, e)

1 [2, 3, 4] p y ['t', 'h', 'o', 'n']