In [6]:
#  all of these sequences are iterable
l = [1, 2, 3]
t = (1, 2, 3)
s = 'python developer'

In [7]:
l[0]

1

In [8]:
l[1]

2

In [9]:
l[2]

3

In [10]:
for c in s:
    print(c)

p
y
t
h
o
n

d
e
v
e
l
o
p
e
r

In [13]:
set_ = {10, 20, 30}

In [14]:
for e in set_:
    print(e)

10
20
30

In [21]:
set_ = {'x', 10, 'a', 'A'}

In [22]:
for e in set_:
    print(e)

x
a
10
A

In [24]:
l = [1, 2, 3]
t = (1, 2, 3)

In [25]:
l[2] = 200

In [26]:
l

[1, 2, 200]

In [32]:
t = ([1, 2], 3, 4) # a tuple that has a mutable list object

In [33]:
t[0]

[1, 2]

In [34]:
t[0][0] = 100

In [35]:
t

([100, 2], 3, 4)

In [36]:
'a' in ['a', True, 100]

True

In [37]:
100 in range(200)

True

In [43]:
len('python developer'), len((1, 2, 3)), len({1, 2, 3}), len([1, 2, 3]), len({'a': 1, 'b':2})

(16, 3, 3, 3, 2)

In [44]:
l = [100, 90, 20]

In [45]:
min(l)

20

In [46]:
max(l)

100

In [47]:
l = [2+2j, 100+1j]

In [49]:
l = ['a', 'b', 'c']

In [50]:
min(l)

'a'

In [51]:
max(l)

'c'

In [54]:
l = ['a', 10, 100]

In [56]:
from decimal import Decimal

In [57]:
l = [10, 10.2, Decimal('20.3')]

In [58]:
min(l)

10

In [59]:
max(l)

Decimal('20.3')

In [60]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [61]:
[1, 2, 3] + (4, 5, 6) #  doesn't work list + tuple

TypeError: can only concatenate list (not "tuple") to list

In [62]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [63]:
'abc' + ['a', 'l', 'c']

TypeError: can only concatenate str (not "list") to str

In [65]:
list('abc')

['a', 'b', 'c']

In [67]:
list('abc') + ['a', 'b', 'c']

['a', 'b', 'c', 'a', 'b', 'c']

In [81]:
{'a': 1, 'b': 2, 'c':3} + {'a': 1, 'b': 2, 'c':3}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [83]:
'***'.join(['1', '2', '3'])

'1***2***3'

In [87]:
numbers = ', '.join(['1', '2', '3'])

In [88]:
print(numbers)

1, 2, 3

In [89]:
type(numbers)

str

In [91]:
'abc' * 3

'abcabcabc'

In [92]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [93]:
s = 'python developer'

In [100]:
list(enumerate(s))

[(0, 'p'),
 (1, 'y'),
 (2, 't'),
 (3, 'h'),
 (4, 'o'),
 (5, 'n'),
 (6, ' '),
 (7, 'd'),
 (8, 'e'),
 (9, 'v'),
 (10, 'e'),
 (11, 'l'),
 (12, 'o'),
 (13, 'p'),
 (14, 'e'),
 (15, 'r')]

In [102]:
s.index('e')

8

In [108]:
s.index('e', 14)

14

In [199]:
s = 'python developer'
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
t = [1, 2, 3, 4, 5, 6, 7, 8, 9]
st = {1, 2, 3, 4, 5, 6, 7, 8, 9}
dic = {'a': 1, 'b':2, 'c':3, 'd':4}

In [200]:
s[6:]

' developer'

In [201]:
s[6:-1], s[-1]

(' develope', 'r')

In [202]:
l[6:]

[7, 8, 9, 10]

In [203]:
t[6:]

[7, 8, 9]

In [204]:
st[6:]

TypeError: 'set' object is not subscriptable

In [205]:
dic[6:]

TypeError: unhashable type: 'slice'

In [206]:
l1 = l[:] #  slicing allways return a new object

In [207]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [208]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [209]:
id(l1)

1843820138944

In [210]:
id(l)

1843820168896

In [211]:
l[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [212]:
new_l1 = l[-1:5:-1]
new_l2 = l[-4::-1]

In [213]:
print(new_l1 + new_l2)

[10, 9, 8, 7, 7, 6, 5, 4, 3, 2, 1]

In [214]:
id(new_l1)

1843819127040

In [215]:
id(new_l2)

1843820103424

In [ ]:
l