In [1]:
a = (10, 20, 30)

In [2]:
type(a)

tuple

In [3]:
def print_tuple(t):
    for e in t:
        print(e)

In [4]:
print_tuple(10, 20, 30) #  we need to specify the paratheses

TypeError: print_tuple() takes 1 positional argument but 3 were given

In [5]:
def print_tuple(t):
    for e in t:
        print(e)

In [6]:
print_tuple((10, 20, 30)) # adding the parantheses

10
20
30

In [7]:
a = 'a', 10, 20

In [8]:
a[0]

'a'

In [9]:
a[1]

10

In [10]:
a[1:3]

(10, 20)

In [11]:
for e in a:
    print(e)

a
10
20

In [12]:
a = 'a', 10, 20

In [13]:
x, y, z = a

In [14]:
x

'a'

In [15]:
a = 1, 2, 3, 4, 5

In [16]:
x, *other, y, z = a

In [17]:
a

(1, 2, 3, 4, 5)

In [18]:
x

1

In [19]:
other

[2, 3]

In [20]:
x, *_, y, z = a

In [21]:
x

1

In [22]:
_

[2, 3]

In [23]:
y

4

In [24]:
z

5

In [25]:
a

(1, 2, 3, 4, 5)

In [26]:
a[0]

1

In [28]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [34]:
class Point2d:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f'{self.__class__.__name__} x={self.x}, y={self.y}'

In [35]:
pt = Point2d(10, 20)

In [36]:
pt

Point2d x=10, y=20

In [37]:
pt.x = 100

In [40]:
pt

Point2d x=100, y=20

In [42]:
a = Point2d(0,0), Point2d(10, 20)

In [43]:
a

(Point2d x=0, y=0, Point2d x=10, y=20)

In [44]:
id(pt)

2696565453776

In [45]:
id(a)

2696563545088

In [46]:
id(a[0])

2696565455840

In [47]:
a[0].x = 100

In [48]:
a

(Point2d x=100, y=0, Point2d x=10, y=20)

In [49]:
id(a[0])

2696565455840

In [50]:
a = 1, 2, 3

In [51]:
id(a)

2696564199104

In [52]:
a += 4, 5

In [53]:
a

(1, 2, 3, 4, 5)

In [54]:
id(a)

2696564298912

In [55]:
pt1 = (0, 0)
pt2 = (10, 20)

In [56]:
london = 'London', 'UK', 8_700_00
new_york = 'New York', 'USA', 8_500_00
beijing = 'Beijing', 'China', 21_000_00

In [57]:
london

('London', 'UK', 870000)

In [58]:
cities = london, new_york, beijing

In [59]:
cities

(('London', 'UK', 870000),
 ('New York', 'USA', 850000),
 ('Beijing', 'China', 2100000))

In [62]:
total = 0
for city in cities:
    total += city[2]
    
print(total)

3820000

In [66]:
total = sum(city[2] for city in cities)

In [67]:
total

3820000

In [68]:
record = 'DJIA', 2018, 1, 19, 25_9428, 26_4192, 25_9429, 26_4192

In [86]:
symbol, year, month, day, *_ = record

In [91]:
for city, country, population in cities:
    print(city, country, population)

London UK 870000
New York USA 850000
Beijing China 2100000

In [94]:
for index, city in enumerate(cities):
    print(index, city)

0 ('London', 'UK', 870000)
1 ('New York', 'USA', 850000)
2 ('Beijing', 'China', 2100000)

In [95]:
from random import uniform
from math import sqrt

In [96]:
def random_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)
    
    if sqrt(random_x **2 + random_y **2) <= radius:
        is_in_circle = True
    else:
        is_in_circle = False
        
    return random_x, random_y, is_in_circle

In [261]:
num_attempts = 1000000
count_inside = 0

for i in range(num_attempts):
    *_, is_in_circle = random_shot(1)
    if is_in_circle:
        count_inside += 1

In [262]:
print(f"Pi is approximately: {4 * count_inside / num_attempts}")

Pi is approximately: 3.141908